nav {
  text-decoration: none;
  text-align: center;
  border-bottom: 1.5px solid black;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  margin: 10px;
  font-weight: bold;
}